/*
    Huang Yanzhen
*/

html,
body {
    font-family: "Poppins", sans-serif;
    background-color: #fbf9f1;

}

h1 {
    color: #2d3839;
}

header {
    background: #92c7cf;
    background-image: url("../images/bg/hero-img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #2d3839;
    /* Above is used for tests.*/

    padding: 10px 15px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-titles h1 {
    margin-bottom: 0;
}

.header-titles h3 {
    margin-top: 0;
}

nav {
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    /* max-height: 30px; */
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out;
    transition: transform 300ms ease;

    user-select: none;
}

a:hover {
    background-color: #2b3b3d37;
    transform: scale(1.1);
}

/* ====== Hamburger Button =======*/

.hamburger-button {
    display: none;
    transition: transform 300ms ease;
}

.hamburger-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hamburger-button span {
    display: block;
    background-color: #2d3839;
    width: 30px;
    height: 3px;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 2px;
}

.hamburger-button span:not(:last-child) {
    margin-bottom: 5px;
}

.open .top {
    transform: rotate(45deg);
}

.open .mid {
    opacity: 0;
}

.open .bottom {
    transform: rotate(-45deg);
}

/* ========== Section Contents ==========*/
/* Hero */
.hero .section-content {
    background-image: url("../images/life/friends_3.JPG");
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 500px;
}

.hover-float {
    transition: transform 300ms ease;
}

.hover-float:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px #00000027;
    transform: scale(1.02);
}

.hero.home h3 {
    color: #fff;
    user-select: none;
}

/* ----- Flex Containers ----- */
.flex-container {
    max-width: 850px;
    margin: 0 auto;
}

.bisec-flow {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

/* ----- Section Content----- */
section .section-content {
    background-color: #a8cd9f;
    color: #2c4526;
    /* Above is used for tests.*/

    padding: 10px 20px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    transition: scale 300ms ease;
}

/* ----- Sidebar Content ----- */
.sidebar .section-content {
    background-color: #aad7d9;
    color: #2d3839;
    display: block;
    height: 120%;
    /* float: right; */
}

/* ========== Text-Img View ==========*/
#intro-hyz,
#intro-lrx {
    grid-gap: 20px;
}

.flex-container.bisec-flow.text-img {
    grid-template-columns: 3fr 1fr;
}

.flex-container.bisec-flow.img-text {
    grid-template-columns: 1fr 3fr;
}

.flex-container.bisec-flow.text-img .portrait img,
.flex-container.bisec-flow.img-text .portrait img {
    display: block;
    margin: 0 auto;
}

.portrait {
    display: block;
    align-items: center;
    justify-content: center;
}

.portrait img {
    max-height: 200px;
    user-select: none;
}

/*======Relationships======*/
.large-img {
    width: 100%;
}

/* Footer */
footer {
    background-color: rgb(207, 207, 207);
    padding: 10px;
}