/* Special Header Color*/
#summary-header {
    background-color: #4553418c;
}

/* Special In-page Navigator Color*/
#head_section_2 .in-page-navigator {
    background-color: #6c8f64c2;
}

/* Special Section Color*/
#plans {
    background-color: #455341;
}