/* Special Header Color*/
#showcase-header {
    background-color: #4f587785;
}

/* Special In-page Navigator Color*/
#head_section_3 .in-page-navigator {
    background-color: #4f5877e1;
}

/* Special Section Color*/
#accomplishments {
    background-color: #4f5877;
}